[Unit]
Description=HitTracker Device Mediator
After=bluetooth.service
PartOf=bluetooth.service
StopWhenUnneeded=yes
[Service]
Type=simple
User=hittracker-device-mediator
Group=hittracker-device-mediator
ExecStart=/usr/share/hittracker-device-mediator/bin/hittracker-device-mediator --port 3000
AmbientCapabilities=CAP_NET_RAW


[Install]
WantedBy=bluetooth.target
